<style>

/**
 * # Values
 * ## <dashed-ident>#
 * A comma-separated list of two or more <dashed-ident> to assign to this api-source
 *
 * If the attribute is given without a value, or its value is invalid, the default `--api-width, --api-height` is used.
 */
:host::before {
  position: absolute;
  width: 0;
  min-width: .1px;
  height: 0;
  line-height: .1px;
  font-size: 0;
  content: var(--api);
  display: inline flow-root;
  overflow: hidden;
  scroll-timeline: --api-width, --api-height;
  scroll-timeline-axis: x, y;
}

:host([apiname^="--"][apiname*=","])::before {
  scroll-timeline-name: attr(apiname type(<custom-ident>#));
}

</style>
