<style>

@import url(lib/column-generator/style.css) layer;

/* ::column::scroll-markerなどをカスタムする */

div {
  width: 100px;
  height: 100px;
  padding: 100px;
  border: solid light-dark(oklch(40% .02 265), oklch(72% .015 90));
  --column-width: 62px;
  --column-height: 66px;
  --column-gap: 200px;
  --row-gap: 200px;
}

::after {
  background: light-dark(oklch(85% .08 35), oklch(45% .1 35));
}

::column {
  scroll-snap-align: center;
}

::column::scroll-marker {
  content: counter(column-index);
  background: light-dark(oklch(78% .1 155), oklch(42% .09 155));
  width: calc(--column-index() * 5px);
}

::column::scroll-marker {
  content: --active-class(hello, 'bbb');
}

::column::scroll-marker:hover {
  content: --role(world, 'aaa');
}

@function --to-class(--index <integer>) returns <custom-ident> {
  result: if(
    style(--index: 4): hello;
  );
}

@function --to-role() returns <custom-ident> {
  result: if(
    style(--class: hello): world;
  );
}

@function --to-element() returns <custom-ident> {
  result: if(
    style(--role: hello): div;
    style(--class: hello): div;
    else: div;
  );
}

</style>

<div colcount="5" rowcount="4" mapping navigate></div>
