<style>

@import url(lib/api-getter/style.css);

.time {
  --time: --api-data(w);
  counter-reset:
    hour --get-time(h)
    minute --get-time(m)
    second --get-time(s);
  &::after {
    content:
      counter(hour, decimal-leading-zero) ':'
      counter(minute, decimal-leading-zero) ':'
      counter(second, decimal-leading-zero);
  }
}

@function --get-time(--t type(h | m | s)) returns <integer> {
  result: if(
    style(--t: h): mod(round(down, var(--time) / 3600), 24);
    style(--t: m): mod(round(down, var(--time) / 60), 60);
    style(--t: s): mod(var(--time), 60);
  );
}

</style>

<div class="container" apiscope>
  <api-getter style="--api: url(https://css-api.surahotoke.workers.dev/?width=current-time)"></api-getter>
  <div class="time" apitarget></div>
</div>
