<style>

@import url(lib/api-getter/style.css);

.time {
  --time: --api-ok(--api-value());
  counter-reset:
    hour --get-time(h)
    minute --get-time(m)
    second --get-time(s);
  &::after {
    content:
      counter(hour, decimal-leading-zero) ':'
      counter(minute, decimal-leading-zero) ':'
      counter(second, decimal-leading-zero);
  }
}

@function --get-time(--t type(h | m | s)) returns <integer> {
  result: --api-ok(if(
    style(--t: h): --api-value(h);
    style(--t: m): round(down, --api-value(w) / 60);
    style(--t: s): mod(--api-value(w), 60);
  ));
}

</style>

<div class="container" apiscope>
  <api-source style="--api: url(https://css-api.surahotoke.workers.dev/info/time/current)"></api-source>
  <div class="time" apitarget></div>
</div>
