<style>

@import url(lib/column-generator/style.css) layer;

.render {
  --f_s: --column-count();
  animation: time 3s linear infinite;
  --t: var(--function-render-t);
}

::scroll-marker-group {
  position: absolute;
  display: flex;
  align-items: center;
  width: 500px;
  height: 200px;
  overflow: hidden;
  outline: solid light-dark(oklch(40% .02 265), oklch(72% .015 90));
}

::column::scroll-marker {
  --x: --function-render-get-x();
  display: flex;
  width: calc(500px / var(--f_s));
  height: abs(--f());
  transform-origin: bottom;
  translate: 0 -50%;
  rotate: calc(.25turn * (1 - sign(--f())));
  --background: if(
    style(rem(round(var(--f_s) * var(--x)), 2) = 0): light-dark(oklch(58% .15 155 / .6), oklch(72% .15 155 / .55));
    else: light-dark(oklch(46% .13 265 / .55), oklch(60% .12 265 / .5));
  );
  background: var(--background);
  border-top: solid light-dark(oklch(30% .02 265), oklch(85% .01 90));
}

@function --f() returns <length> {
  --xt: calc(var(--x) + var(--t));
  result: calc(50px * sin(3turn * var(--xt)) + 30px * cos(7turn * var(--xt)));
}

@function --function-render-get-x() returns <number> {
  result: calc(var(--column-position-x) / 100% - .5);
}

@keyframes time {
  to { --function-render-t: 1 }
}

</style>

<div class="render" columns="200" mapping="self"></div>
