<style>

@import url(lib/duplicator-layout/style.css) layer;

:host {
  background: light-dark(oklch(93.5% .012 90), oklch(27% .018 265));
  display: none;
  align-items: center;
  gap: 4px;
  width: stretch;
  max-width: 500px;
  padding: 4px;
  border: solid light-dark(oklch(80% .015 90), oklch(40% .02 265));
  border-radius: 12px;
  transition: .4s;
}

:host(:last-of-type) {
  display: flex;
}

:host {
  display: if(
    style((--filter: all) or (--filter: pending)): flex;
    else: none;
  );
}

:host:has(.done-button:checked) {
  display: if(
    style((--filter: all) or (--filter: done)): flex;
    else: none;
  );
}

:host:has(.delete-button:checked) {
  display: if(
    style(--filter: deleted): flex;
    else: none;
  );
}

[type="checkbox"] {
  appearance: none;
}

@scope(.done-button) {
  background: light-dark(oklch(84% .07 155), oklch(45% .09 155));
  width: 24px;
  aspect-ratio: 1;
  border: solid 2px light-dark(oklch(60% .09 155), oklch(65% .1 155));
  border-radius: 8px;
  display: grid;
  place-content: center;
  :scope::before {
    content: '😃';
    opacity: 0;
  }
  :scope:hover { filter: brightness(1.2) }
  :scope:hover::before { opacity: .2 }
  :scope:checked::before { opacity: 1 }
}

@scope(.title) {
  resize: none;
  flex: 1;
  max-width: 300px;
  field-sizing: content;
  :scope::placeholder {
    color: transparent;
    background: text linear-gradient(to right in oklch longer hue, oklch(62% .16 30), oklch(62% .16 29));
    opacity: light-dark(.35, .5);
  }
}

@scope(.delete-button) {
  background: light-dark(oklch(88% .04 35), oklch(38% .06 35));
  color: light-dark(oklch(45% .09 35), oklch(80% .06 35));
  width: 24px;
  aspect-ratio: 1;
  border: solid 2px light-dark(oklch(65% .1 35), oklch(58% .12 35));
  border-radius: 4px;
  display: grid;
  place-content: center;
  transition: .4s;
  :scope::before {
    content: 'x';
  }
  :scope:hover { background: oklch(56% .19 30) }
  :scope:checked::before {
    content: '←';
  }
}

</style>

<div duplicatorlayout>
  <p>
    この領域にカーソルを入れて、enterキーで追加できるよ！
    <duplicator-slot><slot></slot></duplicator-slot>
  </p>
</div>

<input type="checkbox" class="done-button">
<textarea class="title" placeholder="タスクを入力..."></textarea>
<input type="checkbox" class="delete-button">
