@property --api-LIMIT_VALUE {
  syntax: '<integer>';
  inherits: false;
  initial-value: 8388607;
}

@property --api-status {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}

@property --api-status-text {
  syntax: '<string>';
  inherits: false;
  initial-value: '';
}

@property --api-ok {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}

@property --api-getter-animation {
  syntax: '*';
  inherits: false;
  initial-value:;
}

@property --api-getter-animation-timeline {
  syntax: '*';
  inherits: false;
  initial-value:;
}

@property --api-getter-animation-range {
  syntax: '*';
  inherits: false;
  initial-value:;
}

@property --api-getter-decode-w {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@property --api-getter-decode-h {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
