@property --column-count {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

@property --column-index {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

@property --column-position-x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: -1%;
}

@property --column-position-y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: -1%;
}

@property --column-generator-animation {
  syntax: '*';
  inherits: false;
  initial-value:;
}

@property --column-generator-transition {
  syntax: '*';
  inherits: false;
  initial-value:;
}

@property --column-generator-column-i {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}

@property --column-generator-loading-percent {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}

@property --column-generator-decode {
  syntax: '<number>';
  inherits: false;
  initial-value: 1;
}
